<ion-view view-title="Productos">
    <ion-content class="padding">
        <div class="row">
            <div class="col col-center">
                <p>
                    <a class="button button-positive button-block button-outline icon icon-left ion-ios-plus-outline"
                        ng-click="new()">Crear</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="list">

                <a class="item item-thumbnail-left" href="#">
                    <img src="//placehold.it/500x500">
                    <h2>Pretty Hate Machine</h2>
                    <p>Nine Inch Nails</p>
                </a>

            </div>
        </div>
    </ion-content>
</ion-view>

