<ion-view view-title="Nuevo Producto">
    <ion-content class="padding">
        <!--<div class="row">-->
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="Ej: Agua mineral">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Marca</span>
                <input type="text" placeholder="Ej: Villavicencio">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Codigo</span>
                <input type="text" placeholder="Ej: XYZ123">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Cantidad</span>
                <input type="number" placeholder="Ej: 100">
            </label>
            <div class="col col-center">
                <p>
                    <a class="button button-positive button-block button-outline icon icon-left ion-ios-plus-outline"
                       ng-click="submit()">Crear</a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>